html {
    scroll-behavior: smooth;
}
.main {
    background-color: #e4e5ea;
    min-height: 100vh;
}
.loading {
    display: flex;
    justify-content: center;
}


.tile .modal .image {
    overflow: hidden;
}
.tile .modal img {
    object-fit: cover;
    height: 64px;
    border-radius: 64px;
}
/*.centered {
    display: flex !important; 
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}*/

.content ul {
    margin-top: 0;
}

.card{
	height: max-content;
}